services:
  # Postgres Database
  postgres:
    image: postgres:18.2-alpine3.23
    restart: unless-stopped
    environment:
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      TZ: Europe/Paris
    secrets:
      - postgres_user
      - postgres_password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$(cat /run/secrets/postgres_user) -d postgres || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    ports:
      - "127.0.0.1:${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./docker/postgres/init:/docker-entrypoint-initdb.d

  # API Gateway
  api-gateway:
    build: ./api-gateway
    restart: unless-stopped
    environment:
      PORT: ${API_GATEWAY_PORT}
      AUTH_SERVICE_URL: ${AUTH_SERVICE_URL}
      USER_SERVICE_URL: ${USER_SERVICE_URL}
      BILLING_SERVICE_URL: ${BILLING_SERVICE_URL}
      SUBSCRIPTION_SERVICE_URL: ${SUBSCRIPTION_SERVICE_URL}
    ports:
      - "${API_GATEWAY_PORT}:${API_GATEWAY_PORT}"
    depends_on:
      - auth-service
      - user-service
      - billing-service
      - subscription-service

  # Auth Service
  auth-service:
    build: ./auth-service
    restart: unless-stopped
    environment:
      PORT: ${AUTH_SERVICE_PORT}
      JWT_SECRET_FILE: /run/secrets/jwt_secret
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
      USER_SERVICE_URL: ${USER_SERVICE_URL}
      MAILING_SERVICE_URL: ${MAILING_SERVICE_URL}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET_FILE: /run/secrets/google_client_secret
      GOOGLE_REDIRECT_URI: ${GOOGLE_REDIRECT_URI}
      FRONTEND_URL: ${FRONTEND_URL}
      RESET_PASSWORD_JWT_SECRET_FILE: /run/secrets/reset_password_jwt_secret
    secrets:
      - jwt_secret
      - google_client_secret
      - reset_password_jwt_secret
    depends_on:
      - user-service
      - mailing-service

  # User Service
  user-service:
    build: ./user-service
    restart: unless-stopped
    environment:
      PORT: ${USER_SERVICE_PORT}
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: 5432
      DB_NAME: ${USER_DATABASE}
      DB_USER_FILE: /run/secrets/postgres_user
      DB_PASSWORD_FILE: /run/secrets/postgres_password
      BCRYPT_SALT_ROUNDS: ${BCRYPT_SALT_ROUNDS}
      NODE_ENV: ${NODE_ENV}
      AUTH_SERVICE_URL: ${AUTH_SERVICE_URL}
    secrets:
      - postgres_user
      - postgres_password
    depends_on:
      postgres:
        condition: service_healthy

  # Subscription Service:
  subscription-service:
    build: ./subscription-service
    restart: unless-stopped
    environment:
      PORT: ${SUBSCRIPTION_SERVICE_PORT}
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: 5432
      DB_NAME: ${BILLING_DATABASE}
      DB_USER_FILE: /run/secrets/postgres_user
      DB_PASSWORD_FILE: /run/secrets/postgres_password
      BILLING_SERVICE_URL: http://billing-service:${BILLING_SERVICE_PORT}
      RABBITMQ_URL: amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
      RABBITMQ_EXCHANGE: billing.events
      RABBITMQ_SUBSCRIPTION_QUEUE: subscription-service.billing.events
      NODE_ENV: ${NODE_ENV}
    secrets:
      - postgres_user
      - postgres_password
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
  
  # billing-service:
  billing-service:
    build: ./billing-service
    restart: unless-stopped
    environment:
      PORT: ${BILLING_SERVICE_PORT}
      RABBITMQ_URL: amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
      RABBITMQ_EXCHANGE: billing.events
      NODE_ENV: ${NODE_ENV}
      STRIPE_SECRET_KEY_FILE: /run/secrets/stripe_secret_key
      STRIPE_WEBHOOK_SECRET_FILE: /run/secrets/stripe_webhook_secret
    secrets:
      - stripe_secret_key
      - stripe_webhook_secret
    ports:
      - "${BILLING_SERVICE_PORT}:${BILLING_SERVICE_PORT}"
    depends_on:
      rabbitmq:
        condition: service_healthy
  
  # RabbitMQ
  rabbitmq:
    image: rabbitmq:4.2.4-management-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    ports:
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

  # Mailing Service
  mailing-service:
    build: ./mailing-service
    restart: unless-stopped
    environment:
      PORT: ${MAILING_SERVICE_PORT}
      RESEND_API_KEY_FILE: /run/secrets/resend_api_key
      MAIL_FROM: ${MAIL_FROM}
      PRODUCT_NAME: ${PRODUCT_NAME}
    secrets:
      - resend_api_key

  # Frontend
  frontend:
    build: ./frontend
    restart: unless-stopped
    environment:
      VITE_API_URL: ${API_GATEWAY_URL}
    ports:
      - "${FRONTEND_PORT}:80"

volumes:
  postgres_data:

secrets:
  postgres_user:
    file: ./secrets/postgres_user.txt
  postgres_password:
    file: ./secrets/postgres_password.txt
  jwt_secret:
    file: ./secrets/jwt_secret.txt
  reset_password_jwt_secret:
    file: ./secrets/reset_password_jwt_secret.txt
  stripe_secret_key:
    file: ./secrets/stripe_secret_key.txt
  stripe_webhook_secret:
    file: ./secrets/stripe_webhook_secret.txt
  google_client_secret:
    file: ./secrets/google_client_secret.txt
  resend_api_key:
    file: ./secrets/resend_api_key.txt
